acme==0.31.0
aiohttp==3.6.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.3.0
certbot==0.31.0
certbot-apache==0.31.0
certifi==2018.8.24
chardet==3.0.4
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.6.1
discord.py==1.4.0
distro-info==0.21
entrypoints==0.3
fail2ban==0.10.2
future==0.16.0
httplib2==0.11.3
idna==2.6
josepy==1.1.0
keyring==17.1.1
keyrings.alt==3.1.1
mock==2.0.0
multidict==4.7.6
parsedatetime==2.4
pbr==4.2.0
pycrypto==2.6.1
pycurl==7.43.0.2
PyGObject==3.30.4
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyRFC3339==1.1
PySimpleSOAP==1.16.2
python-apt==1.8.4.1
python-augeas==0.5.0
python-debian==0.1.35
python-debianbts==2.8.2
pytz==2019.1
pyxdg==0.25
reportbug===7.5.3-deb10u1
requests==2.21.0
requests-toolbelt==0.8.0
rpl==1.5.6
SecretStorage==2.3.1
six==1.12.0
systemd-python==234
typing-extensions==3.7.4.2
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
yarl==1.5.1
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
